# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Documentations
.docs/personal

# Skills.sh
.skills/firebase-basics
.skills/firebase-store
.skills/nodejs-express-server
.skills/react-best-practices
.skills/vercel-react-best-practices